

      <img  width="100" class="job-logo offset-3" src="assets/img/logo.png" alt="I am KALA" />

        <form action="" class="job-search-control row offset-4">
          <input type="text" class="text-search " name="txtSearch" placeholder="Text search">
          <input type="text" class="location-search " name="location" placeholder="Location">
          <button class="btn-primary  border-round"> <span class="icon-search"></span>  Search </button>
        </form>

<div class="box">
        <h6>Sort by:</h6>

        <div>

          <h5>Job types:</h5>
           <div class="bloc">
             <ul name="Job-types" size="6">
               <li value="all-kind-of-jobs">
                 <a routerLink="/jos/parttime" class="" onclick="">All</a>
               </li>
               <li value="full-time-jobs" >Full-time jobs</li>
               <li value="part-time-jobs" >Part-time jobs</li>
               <li value="contract" >Contract</li>
               <li value="intership" >Internship</li>
               <li value="freelance" >Freelance</li>
              </ul>
           </div>
<div>

    <h5>Skill levels:</h5>
    <div class="bloc">
      <select name="Skill-levels" size="8">
        <option value="all-levels" SELECTED>All levels</option>
        <option value="entry-level" >Entry level</option>
        <option value="junior-level" >Junior level</option>
        <option value="senior-level" >Senior level</option>
        <option value="leader" >Leader</option>
        <option value="supervisor" >Supervisor</option>
        <option value="manager" >Manager</option>
        <option value="more-higher" >More higher</option>
       </select>
    </div>
  </div>
</div>
</div>

<div class="display-location">Here go the infomation</div>
