$background-color:#f5f5f5;
$background-white:#ffffff;

$pink-color: #e52e95;
$light-pink-color: #ff36a7;

$border-color: #dedede;
$border-round: 50px;
$gray:                  #666666;
$ghost-white:           #fafafa;
$white:                 #ffffff;
$black:                 #000000;

//** Base Colors of Blue Skin.
$base-color:            #e84c3d;
$base-color-hover:      #cd3c2e;
