/* You can add global styles to this file, and also import other style files */
@import "variables";
body  {
  background: $background-color;
}

.logo {
  margin-top: 100px;
}

.border-round     { border-radius: 50px; }
.border-b-color   { border-bottom: $border-color solid 1px; }

.search-control   {
  background-color: $background-white;
  border-radius: $border-round;
  border: $border-color solid 1px;
  padding: 5px 5px 5px 20px;
}

.search-control input {
  padding: 5px;
  border: none;
}

.search-control .location-search {
  border-left: $border-color solid 1px;
}
.search-control .text-search:active { border:none; }
