<div class="container-fluid">
  <div class="row">
    <div class="col-4 offset-4">
      <img  width="300" class="logo" src="assets/img/logo.png" alt="I am KALA" />
    </div>
  </div>
  <div class="row">
    <div class="col-8 offset-2">
      <div class="">
        <form (submit)="onSubmit()" class=" search-control row">
          <input required  type="text" class="text-search col-5" name="s" placeholder="Text search">
          <input type="text" class="location-search col-4" name="l" placeholder="Location">
          <div class="col-3 pr-0 text-right">
            <button type="submit" class="btn-primary btn-lg border-round"> <span class="icon-search"></span>  Search </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
