<div class="container-fluid">
  <div class="row">
    <div class="col-4 offset-4">
      <img  width="250" class="m-lg-5 logo" src="assets/img/logo.png" alt="I am KALA" />
    </div>
  </div>
  <div class="row">
    <div class="col-6 offset-3">
      <div class="">
        <form action="" class=" search-control row">
          <input type="text" class="text-search col-6" name="txtSearch" placeholder="Type text search here">
          <input type="text" class="location-search col-4" name="location">
          <button class="btn-primary col-2 border-round"> Search </button>
        </form>
      </div>
    </div>
  </div>
</div>
