<div class="container-fluid">
  <div class="row">
    <nav id="sidebar" class="">
      <div class="sidebar-header">
        <h3>

        </h3>
      </div>
      <!-- Sidebar Links -->
      <ul class="list-unstyled components">
        <li><a routerLinkActive="active" routerLink="/account">Resume</a></li>
        <li><a routerLinkActive="active" routerLink="/account/applied-job">Applied Jobs</a></li>
        <li><a routerLinkActive="active" routerLink="/account/saved-job">Saved Jobs</a></li>
        <li><a routerLinkActive="active" routerLink="/account/sign-out">Log out <span class="icon-switch"></span></a></li>
      </ul>

    </nav>
    <div id="content" class="">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>



